/**************************************
Seletor universal
* {
	border: 1px solid red;
}
/**************************************
Seletor de texto
h1 {
	color: green;
}
/**************************************
Seletor de classe
.verde {
	color: green;
}
/**************************************
Seletor de classe
p.verde {
	color: green;
}

**************************************
Seletor de ID
#cabecalho {
	border: 1px solid blue;
	}
**************************************
Seletor de filho
li>a {
	color: red;
	text-decoration: none;
}
**************************************
Seletor de descendente
p a {
	color: green;
}

**************************************
Seletor de irmão adjacente
h1+p {
	color: red;
}
**************************************
Seletor de irmão geral
h1~p {
	color: pink;
}
*/

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul a{
	width: 200px;
	height: 40px;
	display: block;
	background: #f7b600 url(./Imagens/menu.png) no-repeat left bottom;
	color: #000;
	text-decoration: none;
	text-indent: 30px;
	line-height: 43px;
}
ul a:hover{
	background-position: right bottom;
	background-color: #f99200;
	color: #fff;
	border-color: #f99200;
}

li .borda{
	border-top: 2px solid #f7b600;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}